body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);    
    padding: 10vh 20vh;
    background: linear-gradient(5deg, rgb(152, 16, 215), rgb(172, 16, 215), rgb(215, 16, 215));
    box-shadow: 0px 10px 20px rgba(213, 33, 193, 0.56);
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.input-field { 
    background: none;
    padding: 15px 70px;
    margin: 15px;
    border-radius: 25px;
    font-size: 16px;
    color: white;
    border: 2px solid rgba(201, 195, 246, 0.5);
}

.submit-btn {
    background: linear-gradient(45deg, rgb(173, 0, 236) 30%, rgb(149, 107, 210) 50%, rgba(69, 16, 215, 0.59) 100%);
    border: none;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.11);
    border-radius: 25px;
    font-size: 16px;
    color: white;
    padding: 12px 140px;
}

.submit-btn:hover {
    background: linear-gradient(45deg, rgba(69, 16, 215, 0.59) 30%, rgb(149, 107, 210) 50%,rgb(173, 0, 236) 100%);
}

a {
    margin: 20px;
    color: white;
}

a:hover {
    color: whitesmoke;
}