.create-session-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: none;
    width: 100vw;
    height: 100vh;

    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.3);
}

.session-form-container {
    padding: 10vh 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, 
        rgb(166, 42, 223), 
        rgb(172, 16, 215), 
        rgb(215, 16, 215));
    border-radius: 25px;
    box-shadow: 4px 8px 20px  rgba(55, 9, 71, 0.5);
    gap: 15px;
    position: relative; 
}

.hide {
    position: absolute;
    top:0px;
    right: 10px;
    background: none;
    border: none;
    font-size: 32px;
    color: whitesmoke;
    cursor: pointer;
}

.session-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.session-form input {
    background: none;
    padding: 15px 70px;
    margin: 15px;
    border-radius: 25px;
    font-size: 16px;
    color: white;
    border: 2px solid rgba(20, 11, 58, 0.5);
}

.session-form button {
    color: rgb(219, 202, 239);
    background-color: #bf00ff80;
    /* background: none; */
    border: 1px solid rgba(128, 128, 128, 0.3);
    padding: 15px;
    box-shadow: 0px 2px 20px rgba(20, 11, 58, 0.2);
    border-radius: 25px;
    font-weight: 700;
    text-decoration: none;
    /* border: none;   */
}

.session-form button:hover {
    background-color: #9a17c553;
}

.session-form-container::after {
    content: '';
    
}