{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block body %}
    <h1 class="page-heading">InsightStudy</h1>
     <div class="auth-container">
        <form action="/login" method="post" class="auth-form">
            <input class="input-field" name="username" required autofocus autocomplete="off" type="text" placeholder="Enter The Username">
            <input class="input-field" name="password" required type="password" placeholder="Enter The Password">
            <button type="submit" class="submit-btn">Log in</button>
        </form>
        <a href="/register">Click Here To Register</a>
    </div>
{% endblock %}
