{% extends "layout.html" %}
{% set show_nav = true %}
{% block body %}
    {% set subject_id = subject.id %}

    <h1>{{subject.name }}</h1>
    <!-- This is temporary -->
    {% if subject.total_duration and subject.session_count %}
        <p>Total Duration: {{ subject.total_duration }} minutes</p>
        <p>Total Sessions: {{ subject.session_count }}</p>
        <p>Average Session Duration: {{ subject.total_duration / subject.session_count }} minutes</p>
        <p>Last Studied On: {{ subject.last_session_date.strftime("%d %b, %Y at %I:%M %p") }}</p>
    {% else %}
        <p>Total Duration: 0 minutes</p>
        <p>Total Sessions: 0 sessions</p>
        <p>Last Studied On: Never</p>
    {% endif %}
    <p>Total Number Of Topics: {{ subject.topic_count }}</p>

    <button id="delete_subject">Delete Subject</button>
    <form id="subject_delete_form" action="/subjects/{{ subject_id}}/delete" method="post" hidden>
        <p>Are you sure you want to delete this subject ?</p>
        <button type="submit">Confirm</button>
    </form>
    <h4>Chapters</h4>
    <button id="add_chapter_btn">Add Chapter</button>
    <form id="chapter_form" action="/subjects/{{ subject_id }}/chapters/add" method="post" hidden>
        <input name="chapter_name" required autocomplete="off" type="text" placeholder="Enter The Chapter Name">
        <button type="submit">Add Chapter</button>
    </form>
    <ul>
        {% for chapter in chapters %}
        <li>
            <details>
                <summary>{{ chapter.name }}</summary>
                    <ul>
                        {% for topic in grouped_topics %}
                            {% if topic.chapter_id == chapter.id %}
                                {% include "topic_stats.html" %}
                            {% endif %} 
                        {% endfor %}
                    </ul>
                    <form action="/chapters/{{ chapter.id }}/assign-topic" method="post">
                        <input type="hidden" name="subject_id" value="{{ subject_id }}">
                        <select name="topic_id">
                            <option value="" selected disabled>--- Select a topic ---</option>
                            {% for topic in ungrouped_topics %}
                                <option value="{{ topic.id }}">{{ topic.name }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit">Assign Topic</button>
                    </form>
                    <button data-target="chapter-form-{{ chapter.id }}" class="delete_chapter_btn">Delete Chapter</button>
                    <form id="chapter-form-{{ chapter.id }}" action="/{{ subject_id }}/chapters/{{ chapter.id }}/delete" method="post" hidden>
                        <p>Are you sure you want to delete this chapter ?</p>
                        <button type="submit">Confirm</button>
                    </form>
                </details>
            </li>
        {% endfor %}
    </ul>
    <h4>Ungrouped topics</h4>
    <button id="add_topic_btn">Add Topic</button>
    <form id="topic_form" action="/subjects/{{ subject_id }}/topics/add" method="post" hidden>
        <input name="topic_name" required autocomplete="off" type="text" placeholder="Enter The Topic Name">
        <button type="submit">Add Topic</button>
    </form>
    {% for topic in ungrouped_topics %}
        {% include "topic_stats.html" %}
    {% endfor %}
    <script src="{{ url_for('static', filename='subject.js') }}"></script>
{% endblock %}