{% extends "layout.html" %}
{% set show_nav = true %}
{% block body %}
    <h1>Subjects</h1>
    <button id="add_form_btn">Add Subject</button>
    <form id="add_subject_form" action="/subjects/add" method="post" hidden>
         <input name="subject_name" required autofocus autocomplete="off" type="text" placeholder="Enter The Subject Name">
         <button type="submit">Add Subject</button>
    </form>
    <ul>
        {% for subject in subjects %}
            <li><a href="/subjects/{{ subject.id }}">{{ subject.name }}</a></li>
        {% endfor %}
    </ul>
    <script src="{{ url_for('static', filename='subject.js') }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const subjectForm = document.getElementById("add_subject_form");
            const formBtn = document.getElementById("add_form_btn");
            show_form(subjectForm, formBtn)
        })
    </script>
{% endblock %}